<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blazorbooksstoreapi-eceebhf3f7gufza3.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ebccf738-9efc-4cf5-a98d-d8b76e8e4132</ProjectGuid>
    <PublishUrl>https://blazorbooksstoreapi-eceebhf3f7gufza3.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$BlazorBooksStoreApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>